*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
section nav{
    height: 100px;
    width: 95%;
    border: 1px solid rgb(222, 219, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 40px;
    margin: 1vw auto;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(32, 32, 32, 0.2);
}
nav-right a{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #464646;
    border: 1px solid #bcbcbc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    &:hover{
        background-color: #000000;
        color: rgb(255, 255, 255);
        transition: 0.7s;
    }
}
// Responsive Design

@media (max-width: 768px) {
    nav-right a{
        font-size: 3vw;
        padding: 4px 4px;
        margin: 0 5px;
        border: none;
    }

}
